@media screen and (max-width: 500px) {
   header nav.navbar {
      height: auto;
   }

   header nav.navbar ul.navbar-nav li.nav-item {
      margin-left: 0;
   }

   header nav.navbar ul.navbar-nav.language-picker .mobile-title {
      display: inline-block;
   }

   header nav.navbar .collapse a.btn-custom {
      text-align: center;
      margin: 10px;
   }


   section#head {
      padding: 75px 0;
      background-size: auto 100%;
   }

   section#head .head-text-wrapper {
      margin: 0 15px;
   }


   section#about {
      margin: 50px 0;
   }

   section#about .about-img {
      padding: 0 15px;
      margin-bottom: 50px;
   }

   section#about {
      text-align: justify;
   }


   section#statistic .stat-wrapper .row div:nth-child(3) {
      text-align: left !important;
   }

   section#statistic .stat-wrapper .row div:nth-child(3), section#statistic .stat-wrapper .row div:nth-child(4) {
      margin-top: 20px;
   }


   section#invitation {
      margin: 50px 0;
      padding: 0;
      text-align: justify;
   }

   section#invitation .donation-img {
      padding: 50px;
   }


   section#donation {
      padding: 75px 0 0;
   }

   section#donation .donation-methods {
      flex-flow: row wrap;
   }

   section#donation .donation-methods .donation-method {
      margin-bottom: 75px;
   }


   /* Donation Page */
   section#donation-methods {
      margin: 50px 0;
   }

   section#donation-methods h1 {
      font-size: 45px;
   }

   section#donation-methods .donation-method {
      margin-bottom: 25px;
   }

   section#donation-methods .donation-method .qr-code img {
      width: 100%;
      height: auto;
   }



   footer .info, footer .contacts {
      margin-top: 25px;
   }

   footer .links {
      justify-content: center;
   }
}

@media screen and (min-width: 501px) and (max-width: 950px) {


}