a {
    text-decoration: none !important;
}

a.btn-custom {
    color: black !important;
    padding: 5px 25px !important;
    border-radius: 25px;
    margin-top: 2px;
    border: 1px solid rgb(255, 186, 52);
    background-color: rgb(255, 186, 52);
    transition: all .3s;
    text-decoration: none;
}

a.btn-custom:hover {
    background-color: rgb(243, 168, 19);
    text-decoration: none;
}

a.btn-custom.big {
    padding: 12px 45px !important;
    line-height: 56px;
}

.shadow, .hover-shadow:hover {
    -webkit-box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.15);
    -moz-box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.15);
    box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.15);
}

.description {
    font-size: 18px;
}

.custom-tooltip {
    --bs-tooltip-bg: #2a82eb !important;
    --bs-tooltip-color: white;
}


header nav.navbar {
    height: 90px;
}

header nav.navbar a.nav-item {
    font-size: 18px;
    margin-left: 15px;
}


section#head {
    background-size: 100% auto;
    background-position: center;
    margin: 0 0 50px;
    padding: 200px 0;
}

section#head .head-text-wrapper {
    margin-left: 125px;
    background-color: white;
    border-radius: 25px;
    padding: 35px 25px;
}


section#about {
    margin: 100px 0;
}

section#about .about-img {
    padding: 25px;
}

section#about .about-img img {
    width: 100%;
    border-radius: 30px;
}


section#invitation {
    margin: 100px 0;
    /*color: white;*/
    padding: 25px;
    /*background-color: #2a82eb;*/
}

section#invitation .flex-wrapper {
    display: flex;
    height: 100%;
    align-items: center;
}

section#invitation .donation-img {
    padding: 75px;
}


section#donation {
    color: white;
    background-color: #2a82eb;
    padding: 60px 0;
}

section#donation .donation-methods {
    margin: 50px 0;
    display: flex;
    justify-content: center;
}

section#donation .donation-methods .donation-method {
    width: 120px;
    height: 110px;
    margin-right: 25px;
    text-align: center;
    transition: all .3s;
    border-radius: 20px;
}

section#donation .donation-methods .donation-method img {
    height: 100%;
    width: 100%;
    border-radius: 20px;
}

section#donation .donation-methods .donation-method span {
    display: block;
    margin-top: 12px;
    color: white;
}


section#gallery {
    margin: 100px 0;
}

section#gallery h2 {
    margin-bottom: 25px;
}

section#gallery .gallery-box img {
    width: 300px;
    border-radius: 15px;
    display: block;
    margin: 0 auto;
}


/* Donation Page */
section#donation-methods {
    margin: 100px 0;
}

section#donation-methods {
    h2 {
        margin-bottom: 30px;
    }
}

section#donation-methods .donation-method {
    padding: 15px;
    overflow: hidden;
    border-radius: 15px;
}

section#donation-methods .donation-method .logo {
    text-align: center;
}

section#donation-methods .donation-method .logo img {
    width: 50px;
}

section#donation-methods .donation-method .title {
    margin-top: 10px;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
}

section#donation-methods .donation-method .wallet {
    text-align: center;
    word-break: break-all;
    margin: 10px 0;
}

section#donation-methods .donation-method .wallet span.action-copy-wallet-address {
    cursor: pointer;
    font-size: 18px;
    margin-left: 5px;
}

section#donation-methods .donation-method .qr-code {
    text-align: center;
}

section#donation-methods .donation-method .qr-code img {
    width: auto;
    height: 220px;
}



footer a {
    color: black;
}

footer .social-networks {
    margin-top: 15px;
}

footer .social-networks a {
    font-size: 36px;
}

footer .contacts .general span {
    display: block;
    margin-bottom: 5px;
}

footer .links {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
}